<div class="alert alert-primary" role="alert">
Question
</div>
<%= @question %>
<div class="alert alert-primary" role="alert">
Answer
</div>
<%= @answer %>

<%= link_to "Ask another question", ask_path %>
